.calender{
    position: relative;
    width: 960px;

   
    /*margin: 100px 100px 100px 100px;*/
}

div.date,div.days {
    width:120px;
    border:1px solid black;
    float:left;
    margin:1px;
    color: #048479; 
}

div.date2 {
    width:120px;
    border:1px solid black;
    float:left;
    margin:1px;
    color :#1212a1;
}
div.date{
    height:120px;
}
div.date2{
    height:120px;
}
.blankday{
    float: left;
    background: rgba(191, 191, 191, 0.25);
}

div.date:hover{
    background:#030c14;
}
div.days{
    background: rgba(255, 102, 102, 0.54);
}
.today{
    background: rgba(255, 102, 102, 0.32);
}
.borderkey{
    position: relative;
    border-style: solid;
    float: left;
    left: 530px;
    width: 300px;
    height: 150px;
    background: #262626;
}
.text1{
    position: relative;
    float: left;
     float: top;
    left: 40px;
    top: 30px;
   color: whitesmoke;
}
.borderapp{
    border-style: solid;
    border-width: thin;
    background-color: lightcoral;
    border-radius:5px;
}
.bottom {
    padding: 17%;
    position: absolute;
    top: 0px;
    width: 66%;
    height: 66%;
}